<h1>{{ question }}</h1>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
<form method="post" action="{% url 'poll:vote' question.id %}">
    {% csrf_token %}
    {% for choice in question.chooce_set.all %}
        <input type="radio" name="chooce" id="chooce{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="chooce{{ forloop.counter }}">{{ choice.chooce_text }}</label>
        <br>
    {% endfor %}
    <input type="submit" value="Vote">
</form>
<a href="{% url 'poll:index_view' %}"> return index?...</a>
