<h1>{{ question }}</h1>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
<ul>
    {% for choice in question.chooce_set.all %}
        <li>{{ choice.chooce_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
        <br>
    {% endfor %}
</ul>
<a href="{% url 'poll:details' question.id %}">Vote Again?</a>

